.container.search-box {
    margin-top:38px;
    margin-bottom:12px;
}

.search-box input {
    border: 0;
    border-bottom: 1px solid white;
    color:white;
    background-color: transparent;
    outline: none;
}

.search-box button {
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
