.card {
    box-sizing: border-box;
    width: calc(20% - 24px);
    border: 2px solid #64C940;
    margin:12px;
    background-color: #333333;
    padding:12px;
    position: relative;
}

.card.selected {
    border: 6px solid #1E8FAA;
}

.card img {
    width:100%;
    display: block;
}

.card p.card-info__name {
    margin:0;
    font-size: 18px;
    font-weight: bold;
}

.card p.card-info__name span {
    display:block;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
}

.card p.card-info__generics {
    margin:0;
    font-size: 12px;
    font-weight: bold;
}

.card p.card-info__generics span {
    font-weight: normal;
}

.card button.favourite {
    position: absolute;
    top: 12px;
    left: 12px;

    background-color:#1E8FAA;
    color: white;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    display: none;
}

.card:hover button.favourite {
    display: block;
}
